@model IEnumerable<NBD_TractionFive.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info fs-1">Bids List</h2>
        </div>
        <div class="col-6 text-right">
            @if (User.IsInRole("Sales") || User.IsInRole("Staff"))
            {
                <a asp-controller="Bids" asp-action="Create" class="btn btn-outline-info" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    Create New Bid
                </a>
            }
            else
            {
                <a asp-controller="Bids" asp-action="Create" class="btn btn-outline-info ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    Create New Bid
                </a>
            }

        </div>
        <br />
        <br />
        <form asp-action="Index" method="get">
            <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
            <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

            <div class="form-horizontal">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter/Search
                </button>
                <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
                    <div class="card card-body bg-light">
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label class="control-label">Search Project Site:</label>
                                @Html.TextBox("SearchString", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Sales Associate:</label>
                                @Html.DropDownList("SalesID", null, "All Sales Associates", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Designer:</label>
                                @Html.DropDownList("DesignerID", null, "All Designers", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4 align-self-end">
                                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                                <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped " style="width:100% ">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <input type="submit" name="actionButton" value="Project Site" class="btn btn-link" />
                            </th>
                            <th class="text-center">
                                <input type="submit" disabled="disabled" value="Bid Date" class="btn btn-link" />
                            </th>
                            <th class="text-center">
                                <input type="submit" disabled="disabled" value="Amount" class="btn btn-link" />
                            </th>
                            <th class="text-center">
                                <input type="submit" disabled="disabled" value="State" class="btn btn-link" />
                            </th>
                            <th class="text-center">
                                <input type="submit" disabled="disabled" value="Sales Associate" class="btn btn-link" />
                            </th>
                            <th class="text-center">
                                <input type="submit" disabled="disabled" value="Designer" class="btn btn-link" />
                            </th>
                            <th class="text-center">
                                <input type="submit" disabled="disabled" value="Action" class="btn btn-link" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bid in Model)
                        {
                        <tr>
                            <td class="m-1 text-center">@bid.Project.projSite</td>
                            <td class="m-1 text-center">@bid.bidDate</td>
                            <td class="m-1 text-center">$@bid.bidAmount</td>
                            <td class="m-1 text-center">@Html.DisplayFor(modelItem => bid.BidState)</td>
                            <td class="m-1 text-center">@bid.SalesAssociate.empFullName</td>
                            <td class="m-1 text-center">@bid.Designer.empFullName</td>
                            <td class="text-center" width="150">
                                <div class="w-100 btn-group" role="group">
                                    <div class="m-1">
                                        @if (User.IsInRole("Sales") || User.IsInRole("Staff"))
                                        {
                                            <a asp-controller="Bids" asp-route-Id="@bid.bidID" asp-action="Edit" class="btn btn-warning w-30" role="button" hidden>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                                Edit
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Bids" asp-route-Id="@bid.bidID" asp-action="Edit" class="btn btn-warning w-30" role="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                                Edit
                                            </a>
                                        }
                                    </div>
                                    <div class="m-1">
                                        <a asp-controller="Bids" asp-route-Id="@bid.bidID" asp-action="Details" class="btn btn-dark w-60" role="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                            </svg>
                                            Details
                                        </a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        }
                    </tbody>

                </table> }
            else
            {
                <p>No Bid Found</p>}
            <partial name="_PagingNavBar" />
        </form>

    </div>

</div>
